# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.pytest_cache/


# Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Database
*.db
*.sqlite3
db.sqlite3